* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%

html,
button,
input,
select,
textarea
    color: #1D1C1C

body
    background: #444 url("http://www.silverorange.com/styles/../newimages/background-body.png") repeat-x
    color: #eee
    margin: 0
    padding: 0
    height: 100%
    font-size: 16px
    line-height: 1.4

p
    font-weight: 200
    font-size: 28px
    line-height: 38px
    letter-spacing: .1px
    text-align: center

a
    color: red 

a:visited
    color: #830202 

a:hover
    color: #830202 


h1,h2,h3,h4,h5,h6 
    font-family: 'Source Sans Pro', 'Noto Sans', sans-serif
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25)
    font-weight: 400
    font-size: 24px
    text-align: center

img
    vertical-align: middle;

li
    list-style-type: none;
